.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 2rem;
}

.card {
    padding: 1.5rem;
    background-color: #0d1117;
    border-radius: 2rem;
    cursor: pointer;
}



.card, .card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 0.5rem;
    font-size: 1.7rem;
}

.card__header {
    display: flex;
    justify-content: space-between;
}


.card__info span {
    color: red;
}
