@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600&family=Heebo:wght@300&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* GENERAL Styles */

html {
  min-height: 100vh;
  font-size: 90%;
  font-family: 'Heebo', sans-serif;
  
}

@media only screen and (min-width: 81.25em) {
  html {
    font-size: 80.5%; 

  }
}

@media only screen and (max-width: 50em) {

  html {

    font-size: 75%; 
  }
}
@media only screen and (max-width: 29em) {

  html {

    font-size: 63%; 
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 55%; 

  }

}

body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    margin:2rem;
    background: #000;
    font-family: 'Familjen Grotesk', sans-serif;
    color: #fff;
    background-image: url('./assets/background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}
  
  

h1 {
  text-align: center;
}